

.lista-filmes{
    width: 550px;
    max-width:100%;
    margin: 10px auto;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.lista-filmes strong{
    font-size: 31px;
    display: block;
    text-align: center;
    padding-top: 10px ;
    padding-bottom: 10px;
    transition: all 0.5s;
}

.lista-filmes strong:hover{
    font-size: 30px;
    background-color: rgb(185, 185, 185) ;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: default;
}

.lista-filmes img{
    width: 800px;
    max-width: 100%;
    max-height: 500px;
    display: block;
    object-fit: cover;}

.lista-filmes a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 30px;
    background-color:rgb(255, 0, 85);
    font-size: 20px;
    text-decoration: none;
    color: #FFF;
    transition: all 0.5s;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.lista-filmes a:hover{
    border: 2px solid rgb(255, 0, 85);
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 85);
}